<h3>Init Call Response</h3>
<form id="redirectForm" method="post" action="/request">
	<input type="textarea" name="input" style="height: 200px; width: 850px;">
	<br/><br/>

	<input type="submit" value="Proced to Pay">
</form>

<style type="text/css">
	
	#redirectForm {
		padding-top: 10px;
	}

</style>